{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@root": ".",
          "@app": "./src/app",
          "@orm": "./src/app/orm",
          "@bootstrap": "./src/bootstrap",
          "@database": "./src/database",
          "@config": "./src/config",
          "@shared": "./src/shared"
        }
      }
    ]
  ]
}
